// page options toggle
button {
	.ct-page-options-trigger {
		display: flex;
		align-items: center;
		font-weight: 500;
		height: 34px;
		margin: -6px;
		padding: 0 12px;
		border-radius: 3px;
		background: #e2e4e7;
		// border: 1px solid #eee;

		&:not(:before) {

		}

		&:before {
			font-family: dashicons;
			content: "\f540";
			font-size: 15px;
			margin-top: 2px;
			margin-right: 7px;
		}
	}

	&.is-toggled {
		.ct-page-options-trigger {
			background: #555d66;
			border-color: #555d66;
		}
	}
}

// sidebar & editor new width
@media (min-width: 782px) {
	body .edit-post-layout.is-sidebar-opened .edit-post-sidebar {
		width: 320px !important;
	}

	body .edit-post-layout.is-sidebar-opened .edit-post-layout__content {
		margin-right: 320px !important;
	}
}