.gdpr-confirm-policy {
	display: flex;
	align-items: center;

	input {
		--top: 0;
	}

	label {
		--fontSize: 13px;

		> * {
			margin: 0 3px;
		}

		a {
			text-decoration: underline;
		}

		&:after {
			content: '*';
			font-size: 15px;
			font-weight: 600;
			line-height: normal;
		}
	}
}

.ct-mailchimp-form {
	.gdpr-confirm-policy {
		margin-top: 20px;

		label {
			opacity: 0.8;
		}
	}
}