.woocommerce-info, 
.woocommerce-error, 
.woocommerce-message {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
	min-height: 70px;
	margin-bottom: 50px;
	padding: 10px 15px 10px 70px;
	border-radius: 5px;
	
	font-size: 15px;
	font-weight: 500;
	--listStyleType: none;

	&:before {
		position: absolute;
		top: 25px;
		left: 27px;
		width: 20px;
		height: 20px;
		font-family: 'woo';
		content: '\e900';
		font-size: 20px;
		line-height: 20px;
		opacity: 0.9;
	}

	li {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;

		&:first-child {
			margin-top: 0;
		}

		&:not(:only-child) {

			&:first-child {
				margin-top: 12px;
			}

			&:last-child {
				margin-bottom: 12px;
			}
		}
	}

	.button {
		order: 10;
		margin-left: auto;
	}

	strong {
		margin-right: 5px;
	}
}

.woocommerce-info, 
.woocommerce-message {
	background: #F0F1F3;
}

.woocommerce-error {
	color: #fff;
	background: rgba(218, 0, 28, 0.7);

	.button {
		--buttonInitialColor: #b92c3e;
		--buttonHoverColor: #9c2131;
	}
}