.woocommerce-checkout-payment {
	margin-top: 40px;

	@include media-breakpoint-down (sm) {
		position: relative;
		margin-left: calc(26px * -1);
		margin-right: calc(26px * -1);
	}

	> ul {
		--listIndent: 0;
		--listItemSpacing: 0;
		border: 1px solid $border-color;
		
		li {
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			&:not(:last-child) {
				border-bottom: 1px solid $border-color;
			}

			input[type="radio"] {
				--top: 1px;
				margin-left: 25px;
				// margin: 19px 1em 0 20px !important;
			}

			> label {
				flex: 1;
				display: flex;
				align-items: center;
				height: 55px;
				cursor: pointer;
				margin: 0;
				padding-right: 20px;
				--fontSize: 15px;
				--fontWeight: 500;

				img {
					max-height: 35px;

					&:first-of-type {
						margin-left: auto !important;
					}
				}

				.about_paypal {
					display: none;
				}
			}

			.payment_box {
				min-width: 100%;
				padding: 25px;
				border-top: 1px solid $border-color;

				p {
					font-size: 15px;
					line-height: 1.5;
				}

				fieldset {
					border: none;
					padding: 0;
				}
			}

			// notification
			&.woocommerce-notice {
				margin: 0;
				border: 0;
			}
		}
	}


	// place order
	.place-order {
		margin-top: 30px;

		@include media-breakpoint-down (sm) {
			padding: 0 25px;
		}

		.woocommerce-terms-and-conditions-wrapper {
			opacity: 0.6;
			font-size: 15px;
			line-height: 1.4;
			margin-bottom: 30px;
		}

		button[type="submit"] {
			width: 100%;
		}
	}
}