.author .hero-section {

	.avatar {
		border-radius: 100%;

		@include media-breakpoint-down (sm) {
			width: 45px;
			height: 45px;
		}

		@include media-breakpoint-up (md) {
			width: 60px;
			height: 60px;
		}
	}

	.page-description {
		--heroContentSpacing: 10px;
	}

	&[data-type="type-1"] {
		.page-description {
			width: 60%;
		}
	}

	&[data-alignment="center"] {
		.avatar, .page-description {
			margin-left: auto;
			margin-right: auto;
		}
	}

	&[data-alignment="right"] {
		.avatar, .page-description {
			margin-left: auto;
		}
	}
}