html {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	scroll-behavior: smooth;
	overflow-wrap: break-word;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
p,
h1, 
h2, 
h3, 
h4, 
h5, 
h6,
em,
ol,
ul,
li,
tr,
th,
td,
img,
ins,
sub,
sup,
big,
cite,
code,
form,
small,
label,
table,
figure,
button,
legend,
strike,
address,
caption,
fieldset,
blockquote {
	margin: 0;
	padding: 0;
	border: none;
	font-size: inherit;
	text-align: inherit;
	line-height: inherit;
}

p {
	margin-bottom: var(--contentSpacing);

	&:last-child {
		margin-bottom: 0;
	}
}

b, strong {
	font-weight: bold;
}

em, q, dfn {
	font-style: italic;
}

small {
	--fontSize: 80%;
}

ins {
	text-rendering: underline;
}

sup, sub {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

hr {
	height: 1px;
	border: none;
}

abbr, acronym {
	cursor: help;
}

a {
	transition: var(--transition);
}


// Media -------------------------------------
figure {
	display: block;
}

iframe {
	display: block;
	max-width: 100%;
}

video {
	display: block;
}

img, embed, object {
	display: block;
	height: auto;
	max-width: 100%;
}


// Lists -------------------------------------
ul, ol {
	padding-left: var(--listIndent, 2.5em);
}

ul {
	list-style-type: var(--listStyleType, disc);
}

ol {
	list-style-type: var(--listStyleType, decimal);
}

li {
	margin: var(--listItemSpacing, 0.5em 0 0 0);

	ul, ol {
		--listIndent: 2em;
	}
}


// Code --------------------------------------
code, kbd, samp {
	padding: 3px 6px;
}

code, kbd, samp, pre {
	tab-size: 4;
	border-radius: 2px;
	background: rgba(233, 235, 239, 0.5);

	&:focus {
		outline: none;
	}
}

pre {
	overflow: auto;
	padding: 15px 20px;

	code {
		padding: 0;
		background: transparent;
	}
}


// Tables ------------------------------------
table {
	border: 1px solid #e0e5eb;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	width: 100%;
	max-width: 100%;
}

th, td {
	padding: 0.7rem;
	border: 1px solid #e0e5eb;
}

th {
	font-weight: 600;
}

caption {
	font-weight: 600;
	padding: 0.7rem;
}