.wp-block-separator {
	clear: both;
	margin-top: calc(var(--contentSpacing) + 10px);
	margin-bottom: calc(var(--contentSpacing) + 10px);
	background-color: #e0e5eb;

	&:not(.is-style-dots) {
		height: 1px;
		border: none;

		&:not(.is-style-wide) {
			--blockMaxWidth: 20%;
		}
	}

	&.is-style-dots {
		&:before {
			font-size: 30px;
		}
	}

	&.is-style-wide {
		width: 100%;
	}
}