/*--------------------------------------------------------------
Tropicana - Header Top Bar Styling
--------------------------------------------------------------*/

.site-top-bar {
	z-index: 10;
	background-color: #FFF;
	font-size: 14px;
}
.site-top-bar .site-container {
    position: relative;
}
.site-header .site-top-bar .site-container {
	z-index: 10;
	background-color: #ffffff;
}
.site-header .site-top-bar .placeholder {
	padding: 19px 0 18px 0;	
}

.site-top-bar .site-top-bar-left.empty {
	display: none;
}

.site-top-bar .site-top-bar-right.empty {
	display: none;
}

.site-header .site-top-bar-left {
	display: inline-block;
	vertical-align: top;
	float: left;
    padding: 4px 0;
    position: relative;
    width: 50%;
}
.site-header .site-top-bar-left a {
}

.site-header .site-top-bar-right {
	display: inline-block;
	vertical-align: top;
    float: right;
    padding: 4px 0;
	position: relative;
	right: 0;
    width: 50%;
    text-align: right;
}
.site-header .site-top-bar-right a {
    display: inline-block;
    vertical-align: top;
	
    -webkit-transition: all 0.1s linear 0s;
     -moz-transition: all 0.1s linear 0s;
      -ms-transition: all 0.1s linear 0s;
       -o-transition: all 0.1s linear 0s;
          transition: all 0.1s linear 0s;
}


/* Unordererd Lists */

.site-top-bar ul {
    margin: 0;
    padding: 0;
}
.site-top-bar ul li {
    margin: 0 15px 0 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
	float: left;
}
.site-top-bar ul li:last-child {
    margin: 0;
}
.site-top-bar ul li a {
    display: block;
    line-height: 1.5;
}


.site-header .site-top-bar-left ul li a
.site-header .site-top-bar-right ul li a {
    line-height: 14px;
}


/* Info Text */

.site-header .site-top-bar .info-text {
    display: inline-block;
    padding: 1px 0 0;
	padding: 5px 0 5px 0;
    vertical-align: middle;
	line-height: 27px;
	text-align: right;
}

/* Shop Links */

.site-header .site-top-bar .header-cart {
	line-height: 19px
}
.site-header .site-top-bar .header-cart-contents {
	display: inline-block;
    vertical-align: top;	
}

.site-header .site-top-bar .site-container div .shop-links {
	margin: 7px 0 8px 0;
}

.site-header .site-top-bar .account-link {
    display: inline-block;
    margin: 2px 0 0;
	padding: 0;
	line-height: 19px;
}

.site-header .site-top-bar .account-link a {
	padding: 0;
	line-height: 20px;
	
	display: inline-block;
    vertical-align: top;	
	
    -webkit-transition: all 0.05s linear 0s;
     -moz-transition: all 0.05s linear 0s;
      -ms-transition: all 0.05s linear 0s;
       -o-transition: all 0.05s linear 0s;
          transition: all 0.05s linear 0s;
}


.site-header .site-top-bar ul {
    display: inline-block;
    vertical-align: middle;
	padding: 8px 0 8px 0;
}


/* Social Links */

.site-header .site-top-bar ul.social-links {
	padding: 5px 0 5px 0;
}

.site-header .site-top-bar .site-top-bar-left ul.social-links {
	float: left;
}

.site-header .site-top-bar ul.social-links li {
	margin: 0 20px 0 0;
	margin: 0 23px 0 0;
}
.site-header .site-top-bar ul.social-links li:last-child {
	margin: 0;
}
.site-header .site-top-bar ul.social-links li a {
    font-size: 18px;
	margin: 0;
}

@media screen and (max-width: 780px) {
	
	/* Reset the floats */
	.site-header .site-top-bar .site-top-bar-left ul.social-links {
		float: none;
	}

	.site-header .site-top-bar .site-top-bar-left {
		padding: 5px 0 2px 0;
		float: none !important;
        width: 100% !important;
        text-align: center;
	}
	
	.site-header .site-top-bar.right-empty .site-top-bar-left {
		padding: 5px 0 6px 0;
	}

    .site-header .site-top-bar .site-top-bar-right {
    	padding: 2px 0 6px 0;
        float: none !important;
        width: 100% !important;
        text-align: center !important;
    	right: 0;
	}
	
	.site-header .site-top-bar.left-empty .site-top-bar-right {
		padding: 5px 0 6px 0;
	}
    
	.site-header .site-top-bar-right .info-text,
	.site-header .site-top-bar-right ul.social-links,
	.site-header .site-top-bar-right .shop-links {
		margin-bottom: 2px;
	}

	.site-header .site-top-bar-right ul {
		padding: 4px 0 4px 0;
	}
	
	.site-header .site-top-bar-right .social-links {
		margin-top: 4px;
	}
	.site-header .site-top-bar-right .social-links a {
	    margin: 0;
	}

	.site-top-bar ul li {
		box-shadow: 0;
	}
}
